.hoverProfile {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease 0.3s;
}
.hoverCard:hover .hoverProfile {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease 0.3s;
}
